* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.nav-header {

    nav {
        min-height: 100vh;
        width: 20vw;
        position: fixed;
        left: auto;
        right: auto;
        background-color: #716c4d;
    }

    img {
        width: 90%;
        height: 25%;
        border-radius: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 0;
        position: relative;
        justify-content: center;
        border: 2px solid;
        border-color: #8b592e;
        background-color: #d7c7a0;
    }

    a {
        color: #2a2b22;
        text-decoration: none;
        font-weight: bold;
        line-height: 150%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        list-style-type: none;
        top: 10vh;
    }

    ul {
        list-style-type: none;
        padding: 1vw;
    }

    @media screen and (min-device-width: 320px) and (max-device-width: 600) {
        font-size: 8px;
    }
    @media screen and (min-device-width: 601px) and (max-device-width: 1025) {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}

.landing div{
    min-height: 100vh;
    background-color: #2a2b22;
    margin-left: 20vw;
    width: auto;
    

    h1 {
        padding-top: 10vh;
        margin-left: 5vw;
        color: #C0C0C0;
    }

    h2 {
        margin-left: 5vw;
        color: #9f9895;
    }

    footer {
        color: #C0C0C0;
        display: block;
        position: static;
        text-align: end;
    }
}