* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav-header nav {
  min-height: 100vh;
  width: 20vw;
  position: fixed;
  left: auto;
  right: auto;
  background-color: #716c4d;
}

.nav-header img {
  width: 90%;
  height: 25%;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid;
  border-color: #8b592e;
  background-color: #d7c7a0;
}

.nav-header a {
  color: #2a2b22;
  text-decoration: none;
  font-weight: bold;
  line-height: 150%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  list-style-type: none;
  top: 10vh;
}

.nav-header ul {
  list-style-type: none;
  padding: 1vw;
}

.nav-header footer {
  color: #C0C0C0;
  display: block;
  position: absolute;
  bottom: 2vh;
  text-align: left;
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .nav-header {
    font-size: 12px;
  }
}

@media screen and (min-device-width: 601px) and (max-device-width: 1025px) {
  .nav-header {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-device-width: 1026px) and (max-device-width: 5120px) {
  .nav-header {
    font-size: calc(24px + 6 * ((100vw - 320px) / 680));
  }
}

.landing div {
  min-height: 100vh;
  background-color: #2a2b22;
  margin-left: 20vw;
  width: auto;
}

.landing div h1 {
  padding-top: 10vh;
  margin-left: 5vw;
  color: #C0C0C0;
}

.landing div h2 {
  margin-left: 5vw;
  color: #9f9895;
}

.landing div footer {
  color: #C0C0C0;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
}

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav-header nav {
  min-height: 100vh;
  width: 20vw;
  position: fixed;
  left: auto;
  right: auto;
  background-color: #716c4d;
}

.nav-header img {
  width: 90%;
  height: 25%;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid;
  background-color: #d7c7a0;
}

.nav-header a {
  color: #2a2b22;
  text-decoration: none;
  font-weight: bold;
  line-height: 150%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  list-style-type: none;
  top: 10vh;
}

.nav-header ul {
  list-style-type: none;
  padding: 1vw;
}

.nav-header footer {
  color: #C0C0C0;
  display: block;
  position: absolute;
  bottom: 2vh;
  text-align: left;
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .nav-header {
    font-size: 12px;
  }
}

@media screen and (min-device-width: 601px) and (max-device-width: 1025px) {
  .nav-header {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-device-width: 1026px) and (max-device-width: 5120px) {
  .nav-header {
    font-size: calc(24px + 6 * ((100vw - 320px) / 680));
  }
}

.about div {
  min-height: 100vh;
  background-color: #2a2b22;
  margin-left: 20vw;
  width: auto;
}

.about div h1 {
  padding-top: 10vh;
  margin-left: 5vw;
  color: #C0C0C0;
  font-weight: 500;
}

.about div h2 {
  padding-top: 10vh;
  margin-left: 5vw;
  color: #C0C0C0;
  font-weight: 400;
}

.about div h3 {
  padding-top: 5vh;
  margin-left: 5vw;
  color: #9f9895;
  font-weight: 300;
}

.about div h4 {
  padding-top: 5vh;
  margin-left: 5vw;
  color: #9f9895;
  font-weight: 200;
}

.about div ul {
  list-style-type: none;
  color: #9f9895;
  margin-left: 5vw;
  margin-top: 2vh;
  padding: 0;
}

.about div li {
  padding-top: 2vh;
}

.about div a {
  text-decoration: none;
  color: #C0C0C0;
  font-size: medium;
}

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav-header nav {
  min-height: 100vh;
  width: 20vw;
  position: fixed;
  left: auto;
  right: auto;
  background-color: #716c4d;
}

.nav-header img {
  width: 90%;
  height: 25%;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid;
  background-color: #d7c7a0;
}

.nav-header a {
  color: #2a2b22;
  text-decoration: none;
  font-weight: bold;
  line-height: 150%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  list-style-type: none;
  top: 10vh;
}

.nav-header ul {
  list-style-type: none;
  padding: 1vw;
}

.nav-header footer {
  color: #C0C0C0;
  display: block;
  position: absolute;
  bottom: 2vh;
  text-align: left;
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .nav-header {
    font-size: 12px;
  }
}

@media screen and (min-device-width: 601px) and (max-device-width: 1025px) {
  .nav-header {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-device-width: 1026px) and (max-device-width: 5120px) {
  .nav-header {
    font-size: calc(24px + 6 * ((100vw - 320px) / 680));
  }
}

.blog div {
  min-height: 100vh;
  background-color: #2a2b22;
  margin-left: 20vw;
  width: auto;
}

.blog div a {
  text-decoration: none;
  color: #C0C0C0;
}

.blog div h1 {
  padding-top: 10vh;
  margin-left: 10vw;
  color: #C0C0C0;
  font-weight: 500;
}

.blog div h3 {
  padding-top: 5vh;
  margin-left: 10vw;
  color: #9f9895;
  font-weight: 500;
}

.blog div h5 {
  padding-top: 1vh;
  margin-left: 10vw;
  color: #9f9895;
  font-weight: 500;
}

.blog div h6 {
  padding-top: 1vh;
  margin-left: 10vw;
  color: #9f9895;
  font-weight: 100;
}

.blog div footer {
  color: #C0C0C0;
  display: block;
  position: static;
  text-align: center;
}

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav-header nav {
  min-height: 100vh;
  width: 20vw;
  position: fixed;
  left: auto;
  right: auto;
  background-color: #716c4d;
}

.nav-header img {
  width: 90%;
  height: 25%;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid;
  background-color: #d7c7a0;
}

.nav-header a {
  color: #2a2b22;
  text-decoration: none;
  font-weight: bold;
  line-height: 150%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  list-style-type: none;
  top: 10vh;
}

.nav-header ul {
  list-style-type: none;
  padding: 1vw;
}

.nav-header footer {
  color: #C0C0C0;
  display: block;
  position: absolute;
  bottom: 2vh;
  text-align: left;
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .nav-header {
    font-size: 12px;
  }
}

@media screen and (min-device-width: 601px) and (max-device-width: 1025px) {
  .nav-header {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-device-width: 1026px) and (max-device-width: 5120px) {
  .nav-header {
    font-size: calc(24px + 6 * ((100vw - 320px) / 680));
  }
}

.contact div {
  min-height: 100vh;
  background-color: #2a2b22;
  margin-left: 20vw;
  width: auto;
}

.contact div a {
  text-decoration: none;
  color: #9f9895;
}

.contact div img {
  width: 16px;
  height: 16px;
  background-color: #d7c7a0;
}

.contact div h1 {
  padding-top: 10vh;
  margin-left: 5vw;
  color: #C0C0C0;
  font-weight: 600;
}

.contact div h3 {
  padding-top: 5vh;
  margin-left: 5vw;
  color: #9f9895;
  font-weight: 300;
}

.contact div footer {
  color: #C0C0C0;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
}

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav-header nav {
  min-height: 100%;
  width: 20vw;
  position: fixed;
  left: auto;
  right: auto;
  background-color: #716c4d;
}

.nav-header img {
  width: 90%;
  height: 25%;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid;
  background-color: #d7c7a0;
}

.nav-header a {
  color: #2a2b22;
  text-decoration: none;
  font-weight: bold;
  line-height: 150%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  list-style-type: none;
  top: 10vh;
}

.nav-header ul {
  list-style-type: none;
  padding: 1vw;
}

.nav-header footer {
  color: #C0C0C0;
  display: block;
  position: absolute;
  bottom: 2vh;
  text-align: left;
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .nav-header {
    font-size: 12px;
  }
}

@media screen and (min-device-width: 601px) and (max-device-width: 1025px) {
  .nav-header {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-device-width: 1026px) and (max-device-width: 5120px) {
  .nav-header {
    font-size: calc(24px + 6 * ((100vw - 320px) / 680));
  }
}

.subblog div {
  min-height: 100vh;
  background-color: #2a2b22;
  margin-left: 20vw;
  width: auto;
}

.subblog div a {
  text-decoration: none;
  color: #C0C0C0;
}

.subblog div hr {
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: #FFD700;
}

.subblog div h1 {
  padding-top: 10vh;
  margin-left: 10vw;
  color: #C0C0C0;
  font-weight: 500;
}

.subblog div h6 {
  padding-top: 1vh;
  margin-left: 10vw;
  color: #9f9895;
  font-weight: 100;
}

.subblog div p {
  padding-top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  color: #9f9895;
}

.subblog div img {
  width: 20vw;
  height: 20vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 50vw;
}

.subblog div footer {
  color: #C0C0C0;
  display: block;
  position: static;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */